.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
}

/*               TRACKER               */

.tracker {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 16px;
  padding: 28px;

  width: 1224px;
  max-width: 100vw;

  border-radius: 8px;
  background-color: var(--color-blue-500);
}

/* Counter */
.counter {
  height: 180px;
  display: flex;
  align-items: center;
}

.counter label {
  padding-bottom: 8px;
}

.counter__left,
.counter__right {
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 142px;
  height: 90px;

  background-color: var(--color-blue-300);
}

.counter__days,
.counter__record {
  color: var(--color-blue-500);
  font-weight: bold;
  font-size: 40px;
}

.counter__left {
  border-radius: 8px 0 0 8px;
}

.counter__center__container {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 116px;
  height: 116px;
  border-radius: 80px;
  background-color: var(--color-blue-300);
  box-shadow: 0 0 0 10px var(--color-blue-500), 0 0 0 20px var(--color-blue-300);
}

.counter__center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.center__ball {
  z-index: 2;
  width: 16px;
  height: 16px;

  position: relative;

  bottom: 24px;

  border-radius: 8px;

  box-shadow: 0 0 0 5px var(--color-blue-300);
  border: 8px solid var(--color-blue-500);
  background-color: var(--color-blue-500);
}

.counter__sequence {
  font-size: 48px;
  font-weight: bold;
  color: var(--color-gray-50);
}

.counter__right {
  border-radius: 0 8px 8px 0;
}

.counter__days__label,
.counter__sequence__label,
.counter__record__label {
  width: 80%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-gray-50);
}

/* contrib */

.contrib {
  display: flex;
  flex-direction: column;
}

.contrib__container {
  width: 400px;
  height: 150px;
  overflow-x: scroll;
}

html ::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 38px;
  background: var(--color-blue-300);
}
html ::-webkit-scrollbar-track {
  background: var(--color-blue-400);
}

.contrib__table {
  border-collapse: separate;
}

.body__day,
.cell__month,
.example__label {
  font-size: 8pt;
  font-weight: bold;
  color: var(--color-gray-50);
  width: 16px;
}

.body__day {
  padding-right: 5px;
}

.contrib__day {
  width: 11px;
  height: 11px;
  border-radius: 2px;

  background-color: var(--color-blue-600);
  transition: all ease 0.4s;
}

.contrib__day:hover {
  transform: scale(1.2);
}

.contrib__example {
  height: 30px;
  display: flex;
  justify-content: end;
}

.contrib__day--1 {
  background-color: var(--color-blue-600);
}

.contrib__day--2 {
  background-color: var(--color-blue-400);
}

.contrib__day--3 {
  background-color: var(--color-blue-300);
}

.contrib__day--4 {
  background-color: var(--color-blue-200);
}

.contrib__day--5 {
  background-color: var(--color-blue-100);
}

/*               HELLO                */
.hello {
  width: 1224px;
  max-width: 100vw;
  padding: 0 24px;
}
.hello__title {
  color: var(--color-blue-300);
}
.hello__subtitle {
  color: var(--color-blue-300);
}

/*               NEWS                 */
.news__section {
  display: flex;
  flex-direction: column;
}

.news__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news__left,
.news__image--emphasis {
  width: 680px;
}

.news {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease 0.5s;
}

.news figcaption {
  padding: 8px 20px;
}

.news:hover {
  box-shadow: 0 10px 38px var(--color-gray-100);
}

.news__image--emphasis,
.news__image {
  border-radius: 8px 8px 0 0;
}

.news__title {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-blue-400);
}

.news__title.secundary {
  padding: 8px 12px;
}

.news__title.emphasis {
  color: var(--color-blue-400);
  font-size: 36px;
}

.news__details * {
  padding: 8px 12px;
}

.news__details.secundary * {
  padding: 4px 12px;
}

.news__details {
  display: flex;
  justify-content: space-between;
}

.news__tag {
  border-radius: 0 8px;

  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-gray-50);

  background-color: var(--color-blue-300);
}

.news__hour {
  color: var(--color-gray-100);
}

.news__bottom,
.news__image {
  width: 210px;
}

.news__secundary {
  display: flex;
  justify-content: space-between;
}
